<nav class="navbar bg-body-tertiary ">
  <form class="container-fluid justify-content-end">
    <button class="btn btn-sm btn-outline-secondary  me-2" id="register" type="button">New User</button>
    <button class="btn btn-sm btn-outline-secondary  me-2" id="UpdateUniDetails"
      type="button">Enroll/UpdateUniDetails</button>
    <button class="btn btn-outline-success me-2" id="UserList" type="button">UserList</button>
  </form>
</nav>