<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDY-MATE</title>
    <%- include("./partials/dashboardStyle") %>
</head>
<body>
    <%- include("./partials/header") %>

        <div style="
            text-align: center; 
            border: 2px dotted purple; 
            width: fit-content; 
            height: fit-content;
            margin-left: auto;
            margin-right: auto;
            padding: 50px;
        ">
            <h1><u>OOPs</u></h1>
            <h4><u> this page is under construction</u></h4>
        </div>
    <br><br><br><br>

    <%- include("./partials/footer") %>
</body>
<%- include("./partials/dashboardScript") %>
</html>